:root {
	--primary: #edf2f4;
	--secondary: #8d99ae;
	--accent: #2b2d42;
}

body {
	background-image: url("background.jpg");
	background-color: var(--primary);
	padding: 20px;
	margin: 0;
}
h1,
h2,
p,
ul,
li {
	font-family: Georgia, Times, Times New Roman, serif;
}

#name {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	text-align: center;
}

#descr {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	text-align: center;
}

ul.header li {
	display: inline;
	list-style-type: none;
	margin: 0;
}
ul.header {
	padding: 0;
}
ul.header li a {
	color: var(--accent);
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
}
.content {
	width: 70%;
	background-color: var(--primary);
	align-content: space-around;
	padding: 20px;
	margin: auto;
}
.content h2 {
	padding: 0;
	margin: 0;
}
.content li {
	margin-bottom: 10px;
}
.active {
	color: var(--secondary);
}

/* home */
#homee {
	/* width: 50%; */
	align-content: center;
}

#image {
	width: 95%;
	padding: 0;
	margin: 20;
}

/* contact */
#icon {
	width: 40px;
}

.a {
	text-decoration: none;
}
